.project-container {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  margin: 0 auto;
  gap: 3rem;
}
.project-content {
  color: var(--secondary-color);
}
.project-content > div:first-child {
  background: linear-gradient(90deg, #917d5082, transparent);
  background-size: 200%;
  animation: reveal both linear;
  animation-timeline: view();
  background-repeat: no-repeat;
  animation-range: entry 50% cover 50%;
  transition: all 2s linear;
  -webkit-transition: all 2s linear;
  -moz-transition: all 2s linear;
  -ms-transition: all 2s linear;
  -o-transition: all 2s linear;
  padding: 0.5rem;
  color: var(--secondary-color);
  margin-top: 20px;
}

.project-content > div h1 {
  margin: 0 0 10px 0;
  z-index: 5;
  position: relative;
}
.project-content p {
  padding: 20px;
  line-height: 1.6;
  font-size: 1.25rem;
  border-radius: 7px;
  margin: 0 0 40px 0;
  text-align: justify;
  margin: 0 0 40px 0;
}
.project-content .project-img {
  padding: 0;
  position: relative;
  top: -12px;
}
.project-content .project-img img {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 23px;
  margin-bottom: -10px;
}
/* @media (max-width: 800px) {
  .project-content {
    width: 90%;
    margin-left: 5%;
  }
} */

.side-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.main-image {
  z-index: -1000;
  width: 90%;
  height: 90% !important;
  position: absolute;
  object-fit: contain;
  object-position: top;
  top: 20px;
}

.proj-logo-img {
  width: 60%;
  aspect-ratio: 1/1;
  object-fit: contain;
  max-height: 50px;
}

hr {
  opacity: 0;
}

@media (max-width: 1290px) {
  .project-container {
    grid-template-columns: 1fr;
  }
  .side-content img:first-child {
    display: none;
  }
  .side-content img {
    width: 100%;
    height: auto !important;
    object-fit: contain;
    max-height: none;
    aspect-ratio: auto;
  }
}
