.mapcomp-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 75px 20px;
    z-index: -1;
}
.mapcomp-layout> div {
    border: 1px solid var(--primary-color);
    margin: 25px;
    width: 30%;
    height: 155px;
    position: relative;
}

.mapcomp-layout  div > img {
    width: 100%;
    height: 155px;
}
.mapcomp-layout > div:first-child::after {
    content: "";
    position: absolute;
    right: -42px;
    top: 70;
    width: 0;
    height: 0;
    border-top: 10px solid transparent ;
    border-left: 10px solid var(--primary-color) ;
    border-right: 10px solid transparent ;
    border-bottom: 10px solid transparent ;
}

.mapcomp-layout  div > button {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 75px);
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    border: none;
    width: 150px;
    cursor: pointer;
}
.card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: linear-gradient(-180deg,transparent 28%,rgba(0,0,0,.6));
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.75rem;
}
.mapcomp-layout .mapcomp-text  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Arkaplanı karartan renk ve opaklık */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Modal'ı diğer elementlerin üstünde göstermek için kullanılır */
  }
  
  .modal {
    background-color: white;
    width: 70%;
    height: 87%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    color: var(--primary-color);
  }
  .modal-content {
    width: 94% ;
    padding: 0 3%;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  @media (max-width:1115px){
    .modal {
      height: 85%;
    }
  }
  @media (max-width:800px) {
    .mapcomp-layout {
        flex-direction: column;
    }
    .mapcomp-layout> div {
        width: 100%;
        margin: 25px 0px;
    }
    .mapcomp-layout > div:first-child::after {
        right: 50%;
        top: 178px;
        border-top: 10px solid var(--primary-color) ;
        border-left: 10px solid transparent ;
    }
      
  .modal {
    width: 84%;
    height: 84%;
  }

}
@media (max-width:600px){
.modal {
    height: 66vh;
}
}
