.content {
  margin-top: 7px;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  height: 85vh;
}
.content-img {
  width: 60%;
  aspect-ratio: 16 / 9;
  border-radius: 7px;
  padding-top: 5px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  transition: background-image 0.5s ease-in-out;
  background-position: bottom;
}

@media (max-width: 976px) {
  .content {
    height: 75vh !important;
  }
  .content-img {
    display: none !important;
  }

  .content-center {
    width: 100% !important;
    align-items: center;
    text-align: center;
  }

  .content-center .desc {
    line-height: 1.55 !important;
  }
}

.content-img.active {
  opacity: 0;
}

.content-center {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 1rem;
  flex-wrap: wrap;
}
.content-center .desc {
  max-width: 50ch;
  font-size: 1.125rem;
}

.content-center .content-title,
.content-center .desc {
  background-image: linear-gradient(to right, #222a50, var(--primary-color));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content-text {
  margin-top: 10px;
}
.content-btn {
  height: 52px;
  width: 120px;
  font-size: 16px;
  background-color: black;
  color: white;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  border: 2px solid dodgerblue;
  transition: all 0.2s linear;
}
.content-btn:hover {
  background-color: rgb(22 161 174);
  border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
}
.typing-indicator {
  animation: yazma 1s infinite;
}

@keyframes yazma {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
/* 
.skeleton {
  background-image: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(212, 211, 211, 0.832),
    rgba(159, 158, 158, 0.574),
    rgba(111, 111, 111, 0.329)
  );
  width: 55%;
  height: 650px;
  background-position: right;
  border-radius: 20px;
  position: absolute;
  inset: 0;
  left: 44%;
  top: 40px;
  z-index: -1;
  border-radius: 20px;
  box-shadow: 0 0 6px 0 #a3a3a331;
  overflow: hidden;
}

.skeleton::after {
  content: '';
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 0 50px 0 rgb(255, 255, 255);
  filter: brightness(1.75);
  width: 5%;
  background-color: rgba(255, 255, 255, 0.632);
  position: absolute;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  animation: sweep 2s ease-in-out infinite alternate;
  -webkit-animation: sweep 2s ease-in-out infinite alternate;
  -webkit-filter: brightness(200px);
}
@keyframes sweep {
  0% {
    translate: 0px;
  }
  100% {
    translate: 1080px;
  }
} */
