.container {
  background-color: black;
  opacity: 1;
  display: grid;
  grid-auto-rows: minmax(85px, auto);
  grid-template-areas: 'logo logo nav-item nav-item nav-item nav-item';
  justify-items: end;
  align-items: center;
  gap: 0vh 0vw;
  border-radius: 7px;
}
.nav-logo {
  display: grid;
  color: white;
  grid-area: logo;
}
.adiyaman-logo {
  width: 19vw;
}
.nav-items {
  display: grid;
  color: white;
  list-style-type: none;
  grid-area: nav-item;
  justify-items: center;
  align-items: center;
  grid-template-areas: 'liAnasayfa liCamiler liAlanlar liIletisim li';
  gap: 4vw;
}

a {
  text-decoration: none;
  color: inherit;
}

.anasayfa,
.camiler,
.alanlar,
.iletisim {
  display: grid;
  color: white;
  text-decoration: none;
}

.anasayfa {
  grid-area: liAnasayfa;
}
.camiler {
  grid-area: liCamiler;
}
.alanlar {
  grid-area: liAlanlar;
}
.iletisim {
  grid-area: liIletisim;
}

.active {
  background-color: #443b3b;
  height: 5vh;
  width: 7vw;
}
.nav-items > li {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 43px;
  text-align: center;
  cursor: pointer;
}
.nav-items > li:hover {
  color: aqua;
}
.nav-items > li > div {
  display: none;
  border-bottom: 2px solid white;
  width: 0px; /* Başlangıçta sıfır genişlik */
  animation: expandWidth 0.5s ease-in-out forwards;
}
@keyframes expandWidth {
  from {
    width: 0px;
  }
  to {
    width: 90px;
  }
}
.nav-items > li:hover > div {
  display: block;
}

.menu {
  display: none;
  flex-direction: column;
  height: 30px;
  gap: 7px;
  grid-area: menu;
  margin-right: 10px;
  cursor: pointer;
  list-style: none;
}

/* Media Queies */
@media (min-width: 1210px) {
  .adiyaman-logo {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}
@media (max-width: 1200px) {
  .adiyaman-logo {
    width: 15rem !important;
  }
}
@media (max-width: 785px) {
  .container {
    grid-template-areas:
      'logo logo menu menu'
      'nav-item nav-item nav-item nav-item' !important;
  }

  .nav-logo {
    justify-self: baseline;
    translate: 10% 0;
  }
  .adiyaman-logo {
    width: 15rem !important;
  }
  .nav-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-self: center;
    width: 90%;
    margin-inline: auto;
  }

  .container {
    grid-auto-rows: minmax(0px, auto) !important;
  }

  .menu {
    display: flex !important;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  .hide .menu_item:nth-child(even) {
    display: none !important;
    opacity: 0;
  }

  .hide {
    justify-content: space-between;
  }
  .hide .menu_item {
    transform-origin: left bottom;
  }

  .hide .menu_item:nth-child(1) {
    rotate: 45deg;
    transform: translate(8%, 100%);
    -webkit-transform: translate(8%, 100%);
    -moz-transform: translate(8%, 100%);
    -ms-transform: translate(8%, 100%);
    -o-transform: translate(8%, 100%);
  }
  .hide .menu_item:nth-child(3) {
    rotate: -45deg;
    transform: translate(1%, 100%);
    -webkit-transform: translate(1%, 100%);
    -moz-transform: translate(1%, 100%);
    -ms-transform: translate(1%, 100%);
    -o-transform: translate(1%, 100%);
  }
  .menu .menu_item {
    width: 35px;
    height: 3px;
    background-color: white;
    transition: rotate 0.2s ease-in-out;
    -webkit-transition: rotate 0.2s ease-in-out;
    -moz-transition: rotate 0.2s ease-in-out;
    -ms-transition: rotate 0.2s ease-in-out;
    -o-transition: rotate 0.2s ease-in-out;
  }
}
