input {
  outline: none;
  border: none;
}
section {
  width: 90.6vw;
  margin-left: 4vw;
}
textarea {
  outline: none;
  border: none;
  font-family: Helvetica Neue, 'Montserrat', sans-serif;
}
.contact-p {
  position: absolute;
  left: 52vw;
  top: 16.1vh;
  background-color: #c9b79b;
  color: white;
  width: 36vw;
  padding: 3.2vw 2vw;
  display: flex;
  justify-content: start;
  font-size: 25px;
  border: 2px solid #cebda1;
  border-radius: 7px;
}
.contact-img {
  position: absolute;
  /* margin-left: 1vw; */
  width: 40vw;
  /* height: 19em; */
  top: 40.2vh;
  left: 52vw;
  border: 3px solid #c9b79b;
  border-radius: 7px;
}
.contact-img2 {
  position: absolute;
  display: flex;
  top: 24vh;
  width: 4vw;
  right: 9vw;
  animation: shake 2s ease infinite;
}
@keyframes shake {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
  }
}
.container-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 17px 0px;
  position: relative;
  width: 43vw;
}

.wrap-contact {
  width: 43vw;
  border-radius: 7px;
  padding: 14px 0px 20px 0px;
}
.contact-form {
  width: 112%;
}
.wrap-input {
  width: 90%;
  background-color: #fff;
  border: 1px solid #cebda1;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 26px;
  position: relative;
  z-index: 1;
}
.input {
  position: relative;
  display: block;
  width: 95%;
  background: #fff;
  border-radius: 31px;
  color: #8f8fa1;
  line-height: 1.2;
  font-family: Helvetica Neue, 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 0.2em;
  height: 42px;

  text-transform: none;
}
input.input {
  height: 54px;
  padding: 0 0px 0 15px;
}
textarea.input {
  min-height: 145px;
  padding: 15px 3px 0 15px;
}
.focus-input {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  border-radius: 31px;
  background-color: #fff;
  pointer-events: none;
}
.input:focus + .focus-input100 {
  width: calc(100% + 20px);
}
.container-contact-form-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.contact-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 250px;
  height: 50px;
  background-color: transparent;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  color: black;
  line-height: 1.2;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  border: 2px solid #cebda1;
}

.contact-form-btn::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.contact-form-btn:hover:before {
  background-color: #916439;
  border-radius: 7px;
}

.validate-input {
  position: relative;
}
@media (max-width: 1115px) {
  .contact-p {
    position: inherit;
    width: 86vw;
    padding: 5vh 2vw;
  }
  .contact-img {
    display: none;
  }
  .wrap-contact {
    padding: 0px 0px 20px 0px;
  }
  .contact-form {
    width: 90vw;
    margin-top: -13%;
  }
  .contact-img2 {
    position: relative;
    top: -15.8vh;
    width: 5vw;
    right: -83.3vw;
  }
}
@media (max-width: 850px) {
  .contact-img2 {
    top: -15.7vh;
    width: 6vw;
    right: -81.3vw;
  }
  .contact-form {
    margin-top: -19%;
  }
}
@media (max-width: 730px) {
  .contact-img2 {
    top: -15.2vh;
    width: 7vw;
    right: -80.5vw;
  }
}
@media (max-width: 570px) {
  .contact-img2 {
    top: -13.2vh;
    width: 7.5vw;
    right: -78.5vw;
  }
  .contact-p {
    width: 85vw;
    padding: 3.5vh 2vw;
  }
  .contact-form {
    margin-top: -26%;
  }
  input.input {
    height: 46px;
  }
  .wrap-input {
    margin-bottom: 16px;
  }
}
@media (max-width: 450px) {
  .contact-img2 {
    top: -12.9vh;
    width: 9.4vw;
    right: -76.5vw;
  }
  .contact-form {
    margin-top: -33%;
  }
}
/* @media (max-width: 720px) {
  .wrap-contact {
    width: 84vw;
  }
  input.input {
    padding: 0 0px 0 15px;
  }
  .wrap-input {
    width: 84%;
  }
  textarea.input {
    padding: 15px 3px 0 7px;
  }
  .container-contact {
    padding: 15px 0px;
  }
  section {
    width: 72.6vw;
    margin-left: 25vw;
  }
  .contact-p {
    position: inherit;
    width: 88.5vw;
    margin-left: -22.8vw;
  }
} */

input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible {
  color: var(--secondary-color) !important;
  font-size: 0.85rem;
}
