body {
  margin: 0;
  padding: 0;
}
.rota-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  gap: 12rem;
  align-items: center;
}
/* لإخفاء زر picture-in-picture */
video::-webkit-media-controls-picture-in-picture-button {
  display: none !important;
}

/* لإخفاء زر التحميل */
video::-webkit-media-controls-download-button {
  display: none !important;
}

.player-wrapper {
  position: relative;
}

.play-button {
  position: absolute;
  padding: 2rem;
  top: 50%;
  margin-inline: auto;
  font-size: 2rem;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  scale: (1.2);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}

.progress-bar {
  width: 99%;
  height: 5px;
  background-color: var(--back-color);
  position: absolute;
  margin-inline: auto;
}

.progress {
  background-color: var(--primary-color);
  transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
  height: 100%;
}

.player-wrapper h1 {
  text-align: center;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 50px;
  background-image: linear-gradient(45deg, #86c4e563, #86c7ea94);
  padding: 1.25rem;
}

.video-wrapper {
  transition: filter 0.5s ease-in-out;
  -webkit-transition: filter 0.5s ease-in-out;
  -moz-transition: filter 0.5s ease-in-out;
  -ms-transition: filter 0.5s ease-in-out;
  -o-transition: filter 0.5s ease-in-out;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.video-wrapper div:first-child:not(.progress) {
  width: 100% !important;
  height: 100% !important;
}

.video-wrapper.visible {
  filter: blur(0);
  -webkit-filter: blur(0);
}

.video-wrapper:not(.visible) {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.videos-layout .container .adiyaman-logo {
  margin-left: 20px;
}

.play-button.pause-hide {
  opacity: 0;
  transition: opacity 0.25s ease-out;
  -webkit-transition: opacity 0.25s ease-out;
  -moz-transition: opacity 0.25s ease-out;
  -ms-transition: opacity 0.25s ease-out;
  -o-transition: opacity 0.25s ease-out;
}

.play-button:hover {
  opacity: 1;
}

@media (max-width: 320px) {
  .video-wrapper {
    margin: 5px;
    min-height: 150px;
  }
  .progress-bar {
    bottom: 5px;
  }
  .play-button {
    scale: 0.1;
    padding: 10px;
    margin-top: 5%;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .video-wrapper {
    margin: 10px;
    min-height: 200px;
  }
  .progress-bar {
    bottom: 8px !important;
  }
  .play-button {
    scale: 0.6;
    padding: 10px;
    margin-top: 5%;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .video-wrapper {
    margin: 15px;
    min-height: 250px;
  }
  .progress-bar {
    bottom: 10px;
  }
  .play-button {
    scale: 0.7;
    padding: 10px;
    margin-top: 5%;
    font-size: 16px;
  }

  .video-wrapper h1 {
    text-align: center;
    font-size: 1rem;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .play-button {
    scale: 1.4 !important;
    top: 50%;
    translate: 0 100%;
  }
}
@media (max-width: 1024px) {
  .video-wrapper {
    margin: 20px;
    min-height: 300px;
  }
  .progress-bar {
    bottom: 15px;
  }
  .play-button {
    scale: 0.8;
    padding: 10px;
    top: 40%;
    /* transform: translateY(50%); */
    font-size: 16px;
    /* -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%); */
  }
  .fullscreen-button {
    display: block !important; /* إظهار الزر في الشاشات الصغيرة */
  }

  .video-container {
    gap: 0 !important;
  }
}

.video-wrapper {
  margin: 25px;
  min-height: 310px;
}
.progress-bar {
  bottom: 20px;
}

.fullscreen-button {
  display: none; /* الإخفاء بشكل افتراضي */
  position: absolute;
  top: 90px;
  right: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
}

svg {
  background-color: transparent !important;
}
