.footer-body {
  background-image: url('../../Assets/images/logo/adiyaman-back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-auto-rows: minmax(auto, 250px);
  grid-template-areas: ' f-img1 f-img2 f-h3 f-h3 f-h3 menu-footer menu-footer menu-footer';
  justify-items: center;
  align-items: center;
  gap: 2rem;
  width: 90% !important;
  margin-inline: auto;
}
.footer-h3 {
  display: grid;
  grid-area: f-h3;
  font-size: 1rem;
  width: 60vw;
  color: black;
  font-weight: 400;
  text-wrap: balance;
  line-height: 1.5;
}
.footer-img1 {
  display: grid;
  grid-area: f-img1;
  width: 60px;
  height: 60px;
  justify-items: center;
  align-items: center;
}
.footer-img2 {
  display: grid;
  grid-area: f-img2;
  width: 60px;
  height: 60px;
  justify-items: center;
  align-items: center;
}
.menu-footer {
  display: grid;
  grid-area: menu-footer;
  height: 8rem;
  width: 3rem;
  justify-content: end;
  align-items: center;
  transform: translateX(-50%);
}
.ul-menu {
  position: absolute;
  left: -5.5em;
  top: 1.5em;
}
.menu-footer .toggle {
  display: grid;
  align-items: center;
  justify-content: center;
  translate: 150% -25%;
  height: 54px;
  width: 54px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  color: #333;
  font-size: 2rem;
  cursor: pointer;
  transition: 1.25s;
  z-index: 5;
  margin-top: 1em;
}

@media (max-width: 2048px) {
  .menu-footer .toggle {
    margin-left: -3.3em !important;
  }
}
.menu-footer.active .toggle {
  transform: rotate(360deg);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 0 0 2px #333, 0 0 0 8px #fff;
}
.menu-footer .active {
  margin-left: 3rem;
  background-color: transparent;
}
.menu-footer li {
  position: absolute;
  left: 0;
  list-style: none;
  transition: 0.5s;
  transform: rotate(calc(360deg / 8 * var(--i))) translate3d(35px, 0px, 14px);
  transform-origin: 140px;
  scale: 0;
  transition-delay: calc(0.05s * var(--i));
  -webkit-transform: rotate(calc(360deg / 8 * var(--i)))
    translate3d(35px, 0px, 14px);
  -moz-transform: rotate(calc(360deg / 8 * var(--i)))
    translate3d(35px, 0px, 14px);
  -ms-transform: rotate(calc(360deg / 8 * var(--i)))
    translate3d(35px, 0px, 14px);
  -o-transform: rotate(calc(360deg / 8 * var(--i))) translate3d(35px, 0px, 14px);
}
.menu-footer.active li {
  scale: 1;
}
.menu-footer li a {
  display: grid;
  align-items: center;
  justify-content: center;
  transform: rotate(calc(360deg / -8 * var(--i)));
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 1.75rem;
  color: var(--primary-color);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}
.menu-footer li:hover a {
  font-size: 2.5rem;
  box-shadow: 0 0 0 2px var(--clr), 0 0 0 6px #fff;
}
@media screen and (max-width: 830px) {
  .footer-body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
  }
  .menu-footer {
    transform: rotateZ(90deg) translateX(-50%);
    -webkit-transform: rotateZ(90deg) translateX(-50%);
    -moz-transform: rotateZ(90deg) translateX(-50%);
    -ms-transform: rotateZ(90deg) translateX(-50%);
    -o-transform: rotateZ(90deg) translateX(-50%);
  }
  .active {
    margin-left: 0rem;
  }

  .footer-h3 {
    width: 90%;
  }
}
