.mosque-layout {
  display: grid;
  /* grid-template-columns: 100px repeat(2,1fr) 30px 250px 50px; */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  grid-template-areas:
    'nav nav nav nav nav nav '
    'cont cont cont cont sec sec';
  /* grid-gap: 20px; */
}

.container {
  grid-area: nav;
}
.main-content {
  grid-area: cont;
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  justify-self: center;
  /* background-color: #f1f1f1; */
}
.mosque-section {
  grid-area: sec;
  /* background-color: rgb(204, 11, 11); */
}
/* start title style */
.main-content > h2 {
  text-transform: uppercase;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 7px;
  color: #222222;
}
/* stop title style */
/* start navigation style */
.main-content .mosque-navigation {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 7px;
  line-height: 2;
}
.main-content .mosque-navigation a {
  text-decoration: none;
  color: blue;
  text-transform: capitalize;
}
.main-content .mosque-navigation a:hover {
  text-decoration: underline;
}
/* stop navigation style */
/* start mosque content style */
.main-content .mosque-content {
  background-color: #f1f1f1;
  margin-top: 20px;
  padding: 30px;
  border-radius: 7px;
}
html {
  scroll-behavior: smooth;
}
.main-content .mosque-card div img {
  width: 100%;
    border-radius: 7px;
}
.main-content > div > div:not(:first-child) img {
  margin-top: 100px;
}
.main-content .mosque-card div p {
  font-size: 18px;
  color: #222222;
  line-height: 2;
}
/* top mosque content style */
@media (max-width: 570px) {
    .main-content .mosque-content {
        padding: 10px;
    
      }
   
      .main-content .mosque-card div p {
        font-size: 16px;
        line-height: 1.7;
      }
}