.ilceleralani {
  padding: 50px 10px;
  background-color: #eee;
}
.city-map {
  width: 750px;
  margin: auto;
}
path:hover {
  fill: var(--secondary-color);
  cursor: pointer;
}
.counties-list ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
  gap: 3rem;
  row-gap: 4rem;
  justify-content: space-evenly;
  font-weight: bold;
  padding: 0;
}

.counties-list ul li {
  text-align: center;
}
.counties-list ul .click {
  color: var(--secondary-color);
  position: relative;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.counties-list ul .click::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -10px;
  left: 0;
  background-color: var(--secondary-color);
  animation-duration: 0.5s;
  animation-name: slidein;
}
/* .counties-list ul .click {
    scale: 1.1;
    
} */
@keyframes slidein {
  from {
    transform: scaleX(0);
    transform-origin: bottom right;
  }

  to {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

@media (max-width: 800px) {
  .city-map {
    width: 90%;
  }
  .counties-list ul {
    grid-template-columns: repeat(auto-fit, minmax(max(50px, 10%), 1fr));
  }
}
