.title-com {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--back-color);
    text-align: center;
    margin-top: 60px;
}
.title-com h1 { 
    color: var(--primary-color);
    font-family: 600;
    margin-bottom: 10px;
}
.title-com p {
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
}
